/** Sidebar css **/
.gx-sb-list {
	.gx-sb-item.home {
		padding: 12px;
		background-color: $separator;
		border-radius: 5px;
	}
	.load-active {
		> a {
			.drop-arrow {
				transform: rotate(-90deg);
			}
		}
	}
	.load-sub-active {
		> a {
			.drop-arrow {
				transform: rotate(-90deg);
			}
		}
	}
	.gx-sb-item {
		position: relative;
		a {
			@include ease2;
			.drop-arrow {
				@include ease3;
			}
		}
	}
	.gx-sb-drop {
		display: none;
		a {
			@include ease2;
			i.ri-git-commit-line {
				@include ease2;
				transform: rotate(0deg);
			}
		}
	}
	.active-drop{
		ul{
			display: block;
		}
	}
}