/** General **/
body {
	margin: 0;
	background-color: $body-bg;
	font-family: $font-family-text;
	letter-spacing: 0.03rem;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-title;
	letter-spacing: 0.03rem;
	color: $title-color;
	font-weight: 600;
}
a {
	@include ease3;
}
input,
.form-control {
	&:focus,
	&:active {
		outline: none;
		box-shadow: none;
		border: 1px solid $border-eee;
		color: $text-777;
	}
	&::placeholder {
		color: $text-999;
	}
}
.gx-main-content {
	@include ease1;
	padding: 94px 0 0 0;
	flex: 1 1 auto;
}
.sb-hide {
	.gx-main-content {
		width: 100%;
		margin-left: 0;
	}
}
b {
	color: $color-primary;
}
code[class*="language-"],
pre[class*="language-"] {
	text-shadow: none;
}
/* Spacing */
.m-t-15 {
	margin-top: 15px !important;
}
.m-b-24 {
	margin-bottom: 24px !important;
}
.m-b-15{
	margin-bottom: 15px !important;
}
/*  Loader  */
#gx-overlay {
	display: flex;
	.gx-ellipsis {
		div {
			animation-timing-function: cubic-bezier(0, 1, 1, 0);
		}
		div:nth-child(1) {
			background: $main-primary-color;
			left: 8px;
			animation: lds-ellipsis1 0.6s infinite;
		}
		div:nth-child(2) {
			background: $main-secondary-color;
			left: 8px;
			animation: lds-ellipsis2 0.6s infinite;
		}
		div:nth-child(3) {
			background: $main-primary-color;
			left: 32px;
			animation: lds-ellipsis2 0.6s infinite;
		}
		div:nth-child(4) {
			background: $main-secondary-color;
			left: 56px;
			animation: lds-ellipsis3 0.6s infinite;
		}
	}
	@keyframes lds-ellipsis1 {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(1);
		}
	}
	@keyframes lds-ellipsis3 {
		0% {
			transform: scale(1);
		}
		100% {
			transform: scale(0);
		}
	}
	@keyframes lds-ellipsis2 {
		0% {
			transform: translate(0, 0);
		}
		100% {
			transform: translate(24px, 0);
		}
	}
}
/* Colors */
.color-primary {
	color: #7f2923;
}
.color-secondary {
	color: #ff4f7f;
}
.color-success {
	color: #2bbb93;
}
.color-info {
	color: #50d1f8;
}
.color-warning {
	color: #ffa04f;
}
.color-danger {
	color: #fb2f2f;
}
.color-dark {
	color: #1d2531;
}
.bg-color-primary {
	color: #5f6af5;
}
.bg-color-secondary {
	color: #ff4f7f;
}
.bg-color-success {
	color: #2bbb93;
}
.bg-color-info {
	color: #50d1f8;
}
.bg-color-warning {
	color: #ffa04f;
}
.bg-color-danger {
	color: #fb2f2f;
}
.bg-color-dark {
	color: #1d2531;
}
.bg-primary {
	background-color: $main-primary-color !important;
}
.bg-secondary {
	background-color: $main-secondary-color !important;
}
.min-h-100 {
	min-height: calc(100vh - 48px);
}
.gx-page-title {
	.gx-breadcrumb {
		ul {
			li {
				&:not(:first-child) {
					padding-left: 20px;
					&:after {
						content: "\ea6e";
						font-family: "remixicon" !important;
						font-style: normal;
						-webkit-font-smoothing: antialiased;
						position: absolute;
						top: 0;
						left: 3px;
					}
				}
			}
		}
	}
	.gx-tools {
		display: flex;
		align-items: center;
		> div {
			padding-left: 5px;
		}
		.calendar {
			height: 35px;
			padding: 0 8px;
			font-size: 12px;
			color: $text-777;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $fff;
			box-shadow: $card-shadow;
			border-radius: $radius;
			i {
				margin-right: 5px;
				font-size: 16px;
				color: $title-color;
			}
		}
		.refresh {
			width: 35px;
			height: 35px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: $radius;
			color: $title-color;
			background-color: $fff;
			box-shadow: $card-shadow;
		}
		.filter {
			button {
				width: 35px;
				height: 35px;
				padding: 0;
				background-color: $fff;
				box-shadow: $card-shadow;
				border-radius: $radius;
				color: $title-color;
				font-size: 13px;
				i {
					font-size: 16px;
				}
				&:after {
					display: none;
				}
				&:focus {
					box-shadow: none;
				}
			}
		}
	}
}
.gx-btn-primary{
	@include ease3;
}
.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
	display: initial;
	width: initial;
	height: initial;
}

/* Tabs */
.tabs_wrapper{
	ul{
		li.active{
			margin-bottom: -1px;
			border-width: 1px 1px 0 1px;
			background-color: $fff;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}
	}
}

.tabs_container {
	.tab_content {
		display: none;
	}
	.tab_content.active {
		display: inline-block;
	}
}
/* Tabs End*/
.max-height {
	max-height: 450px;
}
.appear {
	animation: appear 500ms ease-out forwards;
}

@keyframes appear {
	0% {
		transform: scale(0);
	}

	50% {
		transform: scale(1.05);
	}

	75% {
		transform: scale(0.95);
	}

	100% {
		transform: scale(1);
	}
}
.white-mode-logo{
	display: block;
}
.dark-mode-logo{
	display: none;
}
.gx-toggle-sidebar {
	display: flex;
	align-items: center;
	position: relative;
	.outer-ring {
		width: 30px;
		height: 18px;
		display: block;
		border: 1px solid #9799a7;
		border-radius: 30px;
		position: relative;
		.inner-ring {
			transition: all 0.3s ease-in-out;
			width: 10px;
			height: 10px;
			position: absolute;
			top: 3px;
			right: 4px;
			border-radius: 30px;
			display: block;
			background-color: #9799a7;
		}
	}
}
.gx-toggle-sidebar.active {
	.outer-ring {
		.inner-ring {
			transition: all 0.3s ease-in-out;
			left: 4px;
		}
	}
}
.gx-card-header{
	.close-topic{
		display: none;
	}
}
/* Responsive css sidebar */
@media only screen and (max-width: 1199px) {
	.gx-card-header{
		.close-topic{
			display: flex;
		}
	}
}
@media only screen and (max-width: 767px) {
	.gx-page-title {
		.gx-tools {
			margin-top: 15px;
			> div {
				padding: 0 5px 0 0;
			}
			.refresh {
				display: none;
			}
		}
	}
	.gx-page-title-2 {
		.gx-breadcrumb {
			flex-direction: column;
			align-items: baseline;
			ul {
				margin-top: 5px;
			}
		}
	}
}
@media only screen and (max-width: 575px) {
	.gx-main-content {
		width: 100%;
		margin-left: 0px;
	}
	.sb-collapse {
		.gx-main-content {
			width: 100%;
			margin-left: 0px;
		}
	}
	.gx-btn-primary {
		display: none !important;
	}
}
